body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dbff11;
}

.contact-container {
    background-color: #00274d; /* Lacivert */
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

.contact-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffcc00; /* Sarı */
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #e6e6e6;
}

.form-group textarea {
    resize: none;
    height: 100px;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #ffcc00; /* Sarı */
}

.submit-btn {
    background-color: #ffcc00; /* Sarı */
    color: #00274d; /* Lacivert */
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

.submit-btn:hover {
    background-color: #e6b800;
}