body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    background-color: #031475;
    color: rgb(229, 255, 0);
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: #004aad;
    text-align: center;
}

p {
    line-height: 1.6;
    margin: 15px 0;
}

.highlight {
    font-weight: bold;
    color: #004aad;
}